@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .scrollbar-hide-track::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-hide-track::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-hide-track::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 9999px;
  }

  .scrollbar-hide-track::-webkit-scrollbar-thumb:hover {
    background-color: #222;
  }

  /* Firefox */
  .scrollbar-hide-track {
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
  }
}
